:root{
    --glory: 'Glory', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container-1{
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

body{
    background-color: #f6f9ff;
    scroll-behavior: smooth;
}

.container-3{
    max-width: 780px;
    width: 90%;
    margin: 0 auto;
}

/*DESKTOP*/



/*COMUNE*/

    /* HEADER */

    /* HERO */
    .navbar-color{
        z-index: 1000;
    }

    .photo-text-hero{
        display: flex;
        
    }

    .photo-hero{
        width: 63%;
    }

    .text-hero{
        display: flex;
        flex-direction: column;
    }

    .text-hero h1, p ,a{
        font-family: var(--glory);
        color: #fff;
    }

    
    .text-hero p{
        width: 220px;
    }
    
    .text-hero h1{
        margin: 20px 0;
    }

    .hero-text-span{
        font-weight: bold;
    }

    .photo-hero img{
        max-width: 818px;
        width: 100%;
    }

    .header-color{
        background-image: url("/imagini/image\ 31.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .hero-text-span{
        font-weight: bold;
    }

    .apple {
        font-size: 25px;
    }

    .hero-link-container, .hero-link-container-1{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #3861E9;
        width: 231px;
        height: 50px;
        border-radius: 7px;
        gap: 20px;
        cursor: pointer;
    }

    .hero-link-container,.hero-link, .apple, .hero-link-container-1{
        color: #3861E9;
    }

    .container-link{
        margin-top: -20px;
    }
    

    /*MAIN*/

    /* CE ESTE */

    .ce-este-photo-text{
        background-color: #F25189;
        border-radius: 23px;
        display: flex;
    }

    .ce-este-photo img{
        margin: 0 auto;
        display: block;
    }
    
    .ce-este-text {
        width: 300px;
        text-align: center;
    }
    
    .ce-este-text p{
        font-family: var(--poppins);
    }

    /*VIDEO*/
    
    .video{
        background-color: #DFE7F5;
        max-width: 982px;
        width: 90%;
        height: 553px;
        margin: 150px auto;
        border: #3861E9 5px solid;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*DE CE*/
    .de-ce-container-1{
        display: flex;
        gap: 20px;
    }
    
    .de-ce-container{
        display: flex;
    }
    
    .de-ce-photo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 134px;
        width: 134px;
        border-radius: 23px;
        box-shadow:  rgba(0, 0, 0, 6%) 1px 1px;
        margin: 0 auto;
    }
    
    
    .de-ce-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .de-ce-text h4{
        color: #3861E9;
        font-family: var(--glory);
    }
    
    .de-ce-text p{
        color: #1F1F1F;
    }

    /*CUM FUNTIONEAZA*/
    
    .cum-funtioneaza-title{
        text-align: center;
        margin: 0 auto;
    }
    
    .cum-functioneaza-color{
        background-image: url("/imagini/image\ 32.png") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 230px 0;
    }
    
    .cum-functioneaza-color h2{
        color: #fff;
        margin-top: -75px;
    }
    
    .cum-functioneaza-photo-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 20px;
    }
    
    .cum-functioneaza-photo{
        background-color: #fff;
        width: 276px;
        height: 200px;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cum-functioneaza-text{
        width: 276px;
        text-align: center;
    }
    
    .cum-functioneaza-text p{
        font-size: 16px;
        font-family: var(--poppins);
    }

    /*CAMPANII*/
    .container-campanii{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .campanie-text-1 p{
        color: #000;
        font-family: var(--glory);
        line-height: 20px;
    }
    
    .campanie-text-1 a{
        color: #3861E9;
        font-family: var(--glory);
        font-weight: 500;
    }
    
    .campanie{
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 6%) 2px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 275px;
        height: 437px;
        margin: 0 auto;
        border-radius: 8px;
    }
    
    .campanie-text-1{
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 275px;
        width: 90%;
    }
    
    
    .campanie-photo {
        padding-top: 10px;
    }
    
    .campanie-text-logo{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .campanie-text, .p-1{
        font-family: var(--glory);
        font-weight: 600;
    }
    
    .campanie-text, .p-2{
        font-family: var(--glory);
        font-weight: lighter;
        color: #8890A6;
    }

    .owl-theme .owl-nav {
        position: absolute;
        z-index: 666;
        top: 40%;
    }

    .owl-theme .owl-nav .owl-next{
        position: absolute;
        left: 1190px;
    }

    .owl-theme .owl-nav .owl-prev{
        position: absolute;
        right: 10px;
    }

    .owl-theme .owl-nav [class*="owl-"]:hover{
        background-color: transparent;
    }

    .owl-nav button span{
        font-size: 50px;
        color: #8890A6;
    }

    .owl-dots{
        margin-top: 30px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot span{
        width: 13px;
        height: 13px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:active span{
        background-color: #e83876;
        width: 37px;
    }

    /*FOOTER*/
    .container-footer h4{
        font-family: var(--poppins);
        text-align: center;
        color: #fff;
        padding-top: 40px;
    }
    
    .container-footer{
        background-color: #F25189;
        max-width: 1184px;
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    
    .image-footer-container{
        display: flex;
        margin-top: 20px;
    }
    
    
    .footer-privacy-color{
        background-color: #fff;
    }
    
    .footer-social-privacy {
        display: flex;
        padding: 20px 0;
    }
    
    .footer-social-privacy p{
        color: #293151;
        font-family: var(--poppins);
        font-size: 14px;
    }
    
    .social-media{
        display: flex;
        gap: 20px;
    }   
    
    .buttons{
        display: none;
    }

    

    /*HERO*/
    
    .photo-text-hero{
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .text-hero{
        gap: 25px;
        margin-top: 50px;
    }
    
    
    /*MAIN*/
    
    /*CE ESTE*/
    
    
    h2{
        text-align: center;
        margin: 75px 0;
        color: #F25189;
        font-family: var(--glory);
        font-size: 55px;
    }
    
    .ce-este-photo-text{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 355px;
        width: 376px;
    }
    
    .ce-este-height-1, .ce-este-height, .ce-este-height-2{
        height: 497px;
    }
        
    /*DE CE*/

    .de-ce-container{
        gap: 30px;
        margin-bottom: 50px;
    }
    
    .de-ce-text{
        padding: 10px 0;
    }
    
    
    .de-ce-text .p{
        max-width: 424px;
        width: 100%;
    }

    
    /*CUM FUNCTIONEAZA*/
    
    .cum-funtioneaza-title h2{
        margin-bottom: 15px;
    }

    .cum-funtioneaza-title p{
        font-size: 24px;
    }

    
        
    /*CAMPANIE*/

    .buttons button{
        background-color: transparent;
        border: none;
        color: #8890A6;
        cursor: pointer;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        max-width: 1184px;
        width: 100%;
        z-index: 666;
        position: absolute;
        min-height: 450px;
    }

    
    /*FOOTER*/
    
    .container-footer{
        height: 306px;
        display: flex;
        align-items: center;
        margin: 100px auto 0 auto;
    }
    
    .image-footer-container{
        justify-content: center;
        gap: 50px;
    }
    
    .img-1-footer img{
        width: 200px;
    }
    
    .img-2-footer img{
        width: 211px;
    }
    
    .img-3-footer img{
        width: 241px;
    }
    
    
    .footer-social-privacy {
        justify-content: space-between;
        align-items: center;
    }

    .img-3-ig,.img-4-yt,.img-2-tw,.img-1-fb{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #e83876;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .img-3-ig:hover,.img-4-yt:hover,.img-2-tw:hover,.img-1-fb:hover{
        background-color: #3861E9;
    }
    


    /*CONCURSURI*/
    
    .navbar-color-1{
        background-color: #fff;
        width: 100%;
        padding: 10px;
    }

    /* BACK BUTTON */

    .back{
        margin-top: 50px;
        background-color: #F25189;
        color: #fff;
        border: none;
        width: 62px;
        height: 31px;
        border-radius: 23px;
        cursor: pointer;
    }

    .afla{
        margin-top: -20px;
        margin-left: -10px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
    }

    .afla i{
        color: #3861E9;
    }


    .campanii-title{
        margin-top: 50px;
    }

    .campanii-title p{
        text-align: center;
        color: #1F1F1F;
        margin-top: -40px;
        margin-bottom: 50px;
        font-size: 24px;
        font-family: var(--poppins);
    }

    .container-color{
        background-color: #fff;
        padding: 20px;
        border-radius: 7px;
    }
    
    .text-premiu p{
        color: #3861E9;
        margin-top: 10px;
    }

    .text-premiu h3{
        color: #000;
        font-size: 32px;
    }

    .text-descriere h3{
        font-size: 24px;
        color: #F25189;
        margin-top: 30px;
    }

    .text-descriere p{
        color: #4A515D;
    }

    .text-premii p, .text-produse p{
        color: #000;
        font-size: 18px;
        font-family: var(--glory);
        font-weight: bold;
    }

    .premii-container-1 h4, .produse-container-1 h4{
        color: #F25189;
        font-family: var(--glory);
        font-weight: 600;
        margin-top: 20px;
    }

    .photo-produse{
        width: 45px;
        height: 45px;
        background-color: #DFE7F5;
    }

    .photo-oferta img{
        max-width: 578px;
    }

    .flex-oferta{
        margin-top: 100px;
    }

    .photo-text-oferta{
        display: flex; 
        gap: 20px;
    }

    .text-oferta{
        border-bottom: 1px solid #E5DFDF;
    }

    .logo-text-premiu{
        display: flex;
        gap: 20px;
        padding-top: 30px;
    }

    .text-descriere{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .photo-text-premii, .photo-text-produse{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .premii-flex{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       margin: 25px auto;
       padding-bottom: 25px;
       border-bottom: 1px solid #E5DFDF;
    }

    .calendar{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .calendar i{
        color: #3861E9;
    }


    /*PARTICIPARE*/

    .participare-container{
        background-color: #3861E9;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 19px;
        height: 214px;
        max-width: 1096px;
        margin: 50px auto 0 auto; 
    }

    .text-participare p{
        font-family: var(--glory);
        color: #fff;
        font-weight: 600;
        font-size: 32px;
    }

    .descarca-participare{
        border: none;
        background-color: #DFE7F5;
        color: #fff;
        border-radius: 8px;
        width: 250px;
        height: 50px;
        font-size: 18px;
        font-family: var(--glory);
        font-weight: 600;
    }

    .text-participare{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .photo-1-participare img{
        max-width: 144px;
    }

    .photo-2-participare img{
        max-width: 151px;
    }
    
    /*UTILITATI*/
    
    .flex{
      display: none;
    }

    .flex-2,.flex-3{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    
    @media(min-width:1100px){
        /*HEADER*/
    
        /*NAVBaR*/
    
        .navbar-color{
            background-color: #fff;
            width: 100%;
            position: fixed;
            padding: 10px 0;
        }
        
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        .descarca-navbar{
            width: 183px;
            height: 50px;
            background-color: #3861E9;
            border: none;
            color: #fff;
            border-radius: 7px;
            cursor: pointer;
        }
    
    
        .hamburger-1{
            display: none;
        }
    
        .navbar-ul{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
        .navbar-ul a{
            color: #293151;
        }
        
    
        .logo img{
            width: 226px;
        }
        
        header{
            padding-top: 50px;
            padding-bottom: 100px;
        }

            /*FONTS*/
    
    
    .fs-14{
        font-size: 14px;
    }
    
    .fs-16{
        font-size: 16px;
    }
    
    .fs-17{
        font-size: px;
    }
    
    .fs-18{
        font-size: 18px;
    }
    
    .fs-20{
        font-size: 20px;
    }
    
    
    .fs-24{
        font-size: 27px;
        font-weight: 600;
    }
    
    .fs-28{
        font-size: 28px;
    }
    
    
    }

    @media(max-width: 1300px){
        .owl-theme .owl-nav{
            display: none;
        }
    }

/*CONCURSURI*/

@media(max-width: 1100px){

    .navbar-color-1{
        background-color: #fff;
        width: 100%;
        padding-top: 10px;
    }

    .back{
        margin-top: 50px;
        background-color: #F25189;
        color: #fff;
        border: none;
        width: 62px;
        height: 31px;
        border-radius: 23px;

    }

    .afla{
        margin-top: -20px;
        margin-left: -10px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
    }

    .afla i{
        color: #3861E9;
    }

    .text-premii p, .text-produse p{
        color: #000;
        font-size: 18px;
        font-family: var(--glory);
        font-weight: bold;
    }

    .calendar{
        display: flex;
        align-items: center;
        align-content: center;
        gap: 5px;
    }

    .calendar i{
        color: #3861E9;
    }


    .campanii-title{
        margin-top: 50px;
    }

    .campanii-title p{
        text-align: center;
        color: #1F1F1F;
        margin-top: -40px;
        margin-bottom: 50px;
        font-size: 24px;
        font-family: var(--poppins);

    }

    .container-color{
        background-color: #fff;
        padding: 20px;
    }
    
    .text-premiu p{
        color: #3861E9;
        margin-top: 10px;
        font-family: var(--glory);
        font-weight: 600;
    }

    .text-premiu h3{
        color: #000;
        font-size: 32px;
        font-family: var(--glory);
        font-weight: 600;
    }

    .text-descriere h3{
        font-size: 24px;
        color: #F25189;
        margin-top: 30px;
    }

    .text-descriere p{
        color: #4A515D;
    }

    .text-oferta{
        padding-bottom: 20px;
        border-bottom: 1px solid #E5DFDF;
    }


    .text-premii p, .text-produse p{
        color: #000;
    }

    .premii-container-1 h4, .produse-container-1 h4{
        color: #F25189;
        font-family: var(--glory);
        font-weight: 600;
        margin-top: 20px;
    }

    .photo-produse{
        width: 45px;
        height: 45px;
        background-color: #DFE7F5;
    }

    .photo-oferta img{
        width: 100%;
    }

    .flex-oferta{
        margin-top: 100px;
    }

    .photo-text-oferta{
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .logo-text-premiu{
        display: flex;
        gap: 20px;
        padding-top: 30px;
    }

    .text-descriere{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .photo-text-premii, .photo-text-produse{
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
    }

    .premii-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 25px auto;
        padding-bottom: 25px;
        border-bottom: 1px solid #E5DFDF;
     }
 

    /*PARTICIPARE*/

    .participare-container{
        background-color: #3861E9;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 19px;
        height: 214px;
        max-width: 1096px;
        margin: 50px auto 0 auto; 
    }

    .text-participare p{
        font-family: var(--glory);
        color: #fff;
        font-weight: 600;
        font-size: 32px;
    }

    .descarca-participare{
        border: none;
        background-color: #DFE7F5;
        color: #fff;
        border-radius: 8px;
        width: 250px;
        height: 50px;
    }

    .text-participare{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        align-items: center;
    }

    .photo-1-participare img{
        max-width: 144px;
    }

    .photo-2-participare img{
        max-width: 151px;
    }

    

}

@media(max-width: 500px){
    .premii-flex{
        flex-direction: column;
    }

    .flex-oferta{
        margin-top: 50px;
    }

    .photo-1-participare{
        display: none;
    }

    .photo-2-participare{
       display: none;
    }

    .text-participare{
        text-align: center;
    }

    

}
 


/*TABLETS*/

@media(min-width: 768px) and (max-width: 1100px){
    

/*NAVBAR*/

.buttons{
    display: none;
}

.descarca-navbar{
    border: none;
    color: #fff;
    background-color: transparent;
}


.hamburger{
    border: none;
    background-color: #fff;
}

.navbar-color{
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    position: fixed;
}

.flex-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-ul.open{
    display: flex;
    z-index: 666;
}

.navbar-ul{
    display: none;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    z-index: 666;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #3861E9;
    gap: 10px;
    margin-top: 20px;
    padding: 25px 0;
}

.navbar-ul a{
    color: #fff;
}

.logo img{
    width: 150px;
}

header{
    padding-top: 50px;
}

.header-color{
    background-image: url("/imagini/image\ 31.png");
    background-position: center;
    height: 700px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.photo-text-hero{
    justify-content: space-between;
}


.text-hero{
    gap: 25px;
    margin-top: -10px;
}

.photo-hero{
    width: 100%;
}


/*MAIN*/

/*CE ESTE*/


h2{
    text-align: center;
    margin: 50px 0;
    color: #F25189;
    font-family: var(--glory);
    font-size: 36px;
}

.ce-este-photo-text{
    width: 45%;
    height: 355px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ce-este-height-1, .ce-este-height{
    height: 400px;
}

.ce-este-height-2{
    height: 454px;
}

.ce-este-photo-3 img{
    width: 194px;
}

.ce-este-photo-2 img{
    width: 194px;
}

.ce-este-photo-1 img{
    width: 226px;
}

/*DE CE*/

.de-ce-container-1{
    flex-direction: column;
    text-align: center;
}

.de-ce-container{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    margin-bottom: 50px;
}


.de-ce-text .p{
    width: 302px;
    display: block;
    margin: 0 auto;
}

/*CUM FUNCTIONEAZA*/

.cum-funtioneaza-title h2{
    margin-bottom: 15px;
}

.cum-funtioneaza-title p{
    font-size: 24px;
}


/*FOOTER*/


.container-footer{
    margin-top: 100px;
    height: 306px;
    display: flex;
    align-items: center;
}

.image-footer-container{
    justify-content: center;
    gap: 50px;
}

.img-1-footer img{
    width: 170px;
}

.img-2-footer img{
    width: 180px;
}

.img-3-footer img{
    width: 206px;
}


.footer-social-privacy {
    justify-content: space-between;
}


/*UTILITATI*/

.flex, .flex-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.flex-2{
    display: none;
}


/*FONTS*/


.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-17{
    font-size: 17px;
}

.fs-18{
    font-size: 18px;
}

.fs-20{
    font-size: 20px;
}


.fs-24{
    font-size: 24px;
}

.fs-28{
    font-size: 28px;
}

.fs-36{
    font-size: 36px;
}

.fs-43{
    font-size: 43px;
}

}


/*FONTS*/

.fs-43{
    font-size: 60px;
}


/*TELEFOANE*/

@media(max-width: 764px) and (min-width: 10px){

/*HEADER*/

/*NAVBAR*/


.cum-functioneaza-color{
    background: url(/imagini/image\ 32.png ), url(/imagini/image\ 32.png );
    background-repeat: no-repeat, no-repeat;
    background-position:center top, bottom center;
    background-size: 185%, 185%;
    padding: 230px 0;
}

.color-pink{
    background-color: #e83876;
}


.descarca-navbar{
    border: none;
    color: #fff;
    background-color: transparent;
}


.hamburger{
    border: none;
    background-color: #fff;
}

.navbar-color{
    background-color: #fff;
    width: 100%;
    position: fixed;
    padding-top: 10px;
}

.flex-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-ul.open{
    display: flex;
    z-index: 666;
}

.navbar-ul{
    display: none;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    z-index: 666;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #3861E9;
    gap: 10px;
    margin-top: 20px;
    padding: 25px 0;
}

.navbar-ul a{
    color: #fff;
}

.logo img{
    width: 150px;
}

header{
    padding-top: 50px;
}

.header-color{
    background-size: cover;
}

.photo-text-hero{
    flex-direction: column;
    gap: 30px;
}


.text-hero p{
    width: 230px;
}


.text-hero{
    gap: 25px;
    margin-top: -30px;
}

.photo-hero{
    width: 100%;
}



/*MAIN*/

/*CE ESTE*/


h2{
    text-align: center;
    margin: 50px 0;
    color: #F25189;
    font-family: var(--glory);
    font-size: 36px;
}

.ce-este-photo-text{
    width: 100%;
    height: 355px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ce-este-height-1{
    height: 400px;
}

.ce-este-height-2{
    height: 454px;
}

.ce-este-photo-3 img{
    width: 194px;
}

.ce-este-photo-2 img{
    width: 194px;
}

.ce-este-photo-1 img{
    width: 226px;
}

/*VIDEO*/

.video{
    margin: 50px auto;
}

/*DE CE*/

.de-ce-container-1{
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.de-ce-container{
    flex-direction: column;
    gap: 50px;
}


.de-ce-text .p{
    max-width: 302px;
    display: block;
    margin: 0 auto;
}

/*CUM FUNCTIONEAZA*/

.cum-funtioneaza-title{
    max-width: 300px;
}

.cum-funtioneaza-title h2{
    margin-bottom: 25px;
}


/*FOOTER*/

.br{
    width: 220px;
    margin: 0 auto;
}

.container-footer{
    margin-top: 50px;
    padding: 200px 0;
}

.image-footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-1-footer img{
    width: 170px;
}

.img-2-footer img{
    width: 180px;
}

.img-3-footer img{
    width: 206px;
}

.footer-social-privacy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-media{
    order: -1;
}

/*UTILITATI*/

.flex, .flex-3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-2{
    display: none;
}


/*FONTS*/


.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-17{
    font-size: 17px;
}

.fs-18{
    font-size: 18px;
}

.fs-20{
    font-size: 20px;
}


.fs-24{
    font-size: 24px;
}

.fs-28{
    font-size: 28px;
}

.fs-36{
    font-size: 36px;
}

.fs-43{
    font-size: 43px;
}

}

/* CONCURSURI 1 */

.text-hero-concursuri{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #F8F8F8;
    font-family: var(--glory);
}


.text-hero-concursuri p{
    font-size: 38px;
    font-weight: normal;
}

.hero-link-container-1{
    display: none;
}

/* FILTRE */

.filtre-titlu p:first-child,.filtre p{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--glory);
}
    
.filtre-titlu p:last-child{
    color: #8890A6;
    font-size: 18px;
    font-family: var(--glory);
    font-weight: 400;
}

.filtere-concursuri{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.filtre-concursuri-1{
    display: none;
}

.filtre-container{
    display: flex;
    gap: 50px;
    background-color: #E3EAF8;
    height: 60px;
    max-width: 630px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.filtre{
    align-items: center;
    display: flex;
    gap: 20px;
}

select{
    background-color: transparent;
    border: none;
    color: #8890A6;
    font-family: var(--glory);
    font-size: 18px;
    font-weight: 400;
}

.filtre:first-child{
    border-right: 2px solid #fff;
    padding-right: 40px;
}

/*CAMPANII*/

.span-poza-nou{
    position: absolute;
    background-color: #3861E9;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 23px;
    font-weight: bold;
    font-family: var(--glory);
}

.span-poza-expirare{
    position: absolute;
    background-color: #E93876;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--glory);
}

.header-color-1{
    background-image: url("/imagini/image\ 31.png");
    background-position: center;
    background-size: 100% 100%;
}

.campanii-concursuri{
    background-color: #FFFFFF;
    max-width: 578px;
    width: 100%;
    height: 242px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.campanii-concursuri-photo img {
    height: 202px;
    width: 202px;
}

.campanii-concursuri-logo-text{
    display: flex;
    justify-content: space-between;
}


.campanii-concursuri-text-1 p:first-child{
    color: #000;
    font-family: var(--glory);
    font-size: 27px;
    font-weight: 600;

}

.campanii-concursuri-text-1 p:last-child{
    color: #8890A6;
    font-size: 16px;
    font-family: var(--glory);
    font-weight: lighter;
    margin-top: 5px;
}

.campanii-concursuri-logo-text{
    display: flex;
    gap: 30px;
}

.campanii-concursuri-text-2 p{
    color: #4A515D;
    font-family: var(--glory);
    font-size: 18px;
    font-weight: bold;
    
}

.campanii-concursuri-text-2 .premii-1{
    font-weight: 400;
}

.campanii-concursuri-text-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campanii-concursuri-text{
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.icons-campanii-concursuri{
    display: flex;
    align-self: flex-end;
    margin-top: -30px;
}

.icons-campanii-concursuri i{
    color: #3861E9;
}

.grid-campanii{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 28px;
    margin-top: 50px;
}



@media(max-width:1184px){

    .campanii-concursuri-text{
        gap: 30px;
    }

    .span-poza-nou{
        font-size: 14px;
    }

    .span-poza-expirare{
        font-size: 12px;
    }
    
}


@media(max-width:1120px){

    .header-color-1{
        height: 350px;
    }

    .text-hero-concursuri p{
        font-size: 27px;
    }
    
}

@media(max-width:1000px) {
    .campanii-concursuri-photo img {
        height: 150px;
        width: 150px;
    }

    
    
}

@media(max-width:912px){

    /*CAMPANII*/

    .grid-campanii{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .campanii-concursuri{
        height: 200px;
    }

    .campanii-concursuri-text{
        gap: 30px;
    }

    

}

@media(max-width:768px){

    
    
    .filtere-concursuri{
        display: none;
    }

    .filtre-concursuri-1{
        display: flex;
        margin-top: 50px;
    }

    .filtre-titlu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .filtre{
        flex-direction: column;
        gap: 0;
        align-items: center;
        gap: 2px;
    }

    .filtre-titlu, .filtre-1{
        border-right: 2px solid #fff;
        padding-right: 50px;
    }

    .filtre-container{
        gap: 30px;
    }

    .campanii-concursuri-text-1 p:first-child{
        font-size: 18px;
    }

    .campanii-concursuri-text-1 p:last-child,.campanii-concursuri-text-2 p{
        font-size: 14px;
    }

    
}

@media(max-width:500px){

    .filtre-titlu, .filtre-1{
        border-right: 2px solid #fff;
        padding-right: 15px;
    }

    .filtre-titlu p:first-child,.filtre p{
        font-size: 16px;
    }
        
    .filtre-titlu p:last-child{
        font-size: 14px;
    }

    .filtre-container{
        gap: 15px;
    }

    select{
        font-size: 14px;
    }

    .text-hero-concursuri p{
        font-size: 24px;
    }
    

    .hero-link-container-1{
        display: flex;
    }

    .header-color-1{
        background-size: 200% 100%;
        background-repeat: no-repeat;
    }

    .campanii-concursuri{
        height: 144px;
    }

    .campanii-concursuri-photo img{
        width: 120px;
        height: 120px;
    }

    .campanii-concursuri-text{
        gap: 20px;
    }

    .campanii-concursuri-text-2 p:last-child{
        display: none;
    }

}

        /*CAMPANIE*/

        
.dragger, .dragger-1{
    max-width: 315px;
    height: 237px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}
        
.dragger-1{
    max-width: 175px;
    height: 175px;
    width: 100%;
}
        
#dragger{
    object-fit: cover;
    border-radius: 10px;
}
        
.kv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom: 90px;
}
        
.kv-photo img{
    width: 34px;
}
        
.kv-photo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}


input, textarea{
    max-width: 780px;
    width: 100%;
    border-radius: 4px;
}

textarea{
    border: 1px solid #D0DBE0;
}

input, textarea, select, .text-checkbox, .campanie-nationala{
    margin-top: 6px;
}

.dragger-1 input{
    border-radius: 10px;
}

.text-checkbox, select, .campanie-nationala{
    border-radius: 4px;
}

#Branduri, .data, .adauga-campanii-select{
    padding-left: 15px;
}


input, .adauga-campanii-select{
    border: 1px solid #D0DBE0;
    height: 46px;
}


input::placeholder, .regulament, .text-checkbox p, .campanie-nationala p, textarea::placeholder, .data{
    padding-left: 15px;
    font-size: 16px;
    color:#8890A6;
    font-family: var(--glory);
}

.kv-text p{
    font-size: 16px;
    font-family: var(--glory);
    color: #515C6F;
}

.textarea-1{
    height: 92px;
}

.textarea-2{
    height: 154px;
}

textarea::placeholder{
    padding-top: 10px;
}

.titlu-input{
    font-size: 14px;
    font-weight: bold;
    font-family: var(--glory);
    color: #38454C;
    margin-top: 15px;
}

.titlu{
    font-size: 24px;
    font-family: var(--glory);
    color: #E93876;
    font-weight: 400;
    margin-top: 54px;
}

.butoane-adaugare-campanii{
    max-width: 376px;
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #E93876;
    border: none;
    display: block;
    margin: 20px auto 50px auto;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--glory);
    cursor: pointer;
    border-radius: 6px;
}

.pasul-urmator{
    margin-top: 50px;
}

.adauga-campanii-select{
    max-width: 780px;
    width: 100%;
    background-color: #fff; 
} 

.regulament-campanie{
    color: #3861E9;
    border-bottom: 1px solid #3861E9;
}

.regulament{
    text-align: center;
}

.text-checkbox, .campanie-nationala{
    display: flex;
    max-width: 376px;
    width: 100%;
    height: 46px;
    background-color: #fff;
    border: #D0DBE0 1px solid;
    align-items: center;
}

.text-checkbox input, .campanie-nationala input, .regulamentul input{
    height: 22px;
    width: 22px;
    margin-left: 10px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
}

.container-text-checkbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 7px;
    margin-top: 6px;
}

.campanie-nationala{
    max-width: 780px;
    width: 100%;
}

.regulamentul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.text-aditional{
    font-size: 14px;
    font-family: var(--glory);
    color: #8890A6;
}

.button-navigare{
    max-width: 195px;
    width: 100%;
    height: 14px;
    border: none;
    border-right: 1px solid #A2B7C2;
    background-color: #DFE7F5;
}

.button-navigare:active{
    background-color: #E93876;
}

.button-navigare-border-radius{
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
}

.button-navigare-border-radius-1{
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.navigatie-adaugare-campanii{
    display: flex;
    margin: 50px auto;
}


@media(max-width:820px){
    .container-text-checkbox{
        grid-template-columns: repeat(1, 100%);
    }

    .text-checkbox{
        max-width: 100%;
    }

}

@media(max-width:500px){
    .kv{
        grid-template-columns: repeat(1, 1fr);
    }
}

